* {
   margin:0;
   padding:0;
   background: border-box;
}
.header {
  background-color: black;
  width: 480px;
  height: 50px;
}
.logo {
   width: 20%;
   height: 100%;
   display: inline-block;
}

.header.header-icon {
   width: 20%;
   height: 100%;
   display: inline-block
}

.menu {
   display: none;
}
.section1 {
   background-color: green;
}

.section2 {
   background-color: yellow;
}

.articulo1,.articulo2, .articulo3,.articulo4 {
   background-color: blueviolet;
}

.pie {

}